<div class="main" style="margin-top: -80px;">
    <div style="background-image: url(../../../assets/image/bird3.jpg)" >
        <div class="container text-center" >
            <div class="r1" >
               <h2 style="color: rgb(180, 46, 91); font-family: serif;" ><br><b>LET'S CHAT</b></h2><BR>  
            </div>
            
                  <div class="col mb-5">
                    <div class="contactForm">
                       
                        <div class="col">
                            <form>
                                <ul>
                                   
                                    <div class="form-outline mb-2">
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                        <label class="form-label" for="form3Example1cg">Your Name</label>
                                      </div>
                                   
                                    <div class="form-outline mb-2">
                                        <input type="email" id="form2Example2cg" class="form-control form-control-lg" />
                                        <label class="form-label" for="form2Example2cg">Your Email</label>
                                      </div>
                                    
                                    <div class="form-outline mb-2">
                                        <textarea rows="4" cols="50"></textarea>
                                        <label for="msg">Message</label>
                                      </div>
                                      <div><br>
                                        <button type="button"
                                           class="btn btn-info btn-lg btn-block">Send</button>
                                      
                                        </div>
                                </ul>
                            </form>
                  </div>
            </div>

        </div>
    </div>
</div>
      



