<div class="main" style="margin-top: -40px;">
  

    <div class="container1">
      <div class="heading">
        <h3>The<span style="color: rgb(180, 46, 91);"><b>Bird</b></span><span>Gallery</span></h3>
      </div>
      <div class="box">
        
        <div class="dream">
          <img src="https://cdn.pixabay.com/photo/2012/06/19/10/32/owl-50267__340.jpg">
           <img src="https://cdn.pixabay.com/photo/2018/05/24/17/35/parrots-3427188__340.jpg">
            <img src="https://cdn.pixabay.com/photo/2016/12/13/22/25/bird-1905255__340.jpg">
             <img src="https://cdn.pixabay.com/photo/2013/04/04/12/34/mountains-100367__340.jpg">
              <img src="https://cdn.pixabay.com/photo/2014/11/21/15/39/grey-crowned-cranes-540657__340.jpg">
             
        </div>


        
  
          <div class="dream">
          <img src="https://cdn.pixabay.com/photo/2017/03/16/00/27/peafowl-2147888__340.jpg">
           <img src="https://cdn.pixabay.com/photo/2017/08/08/14/32/adler-2611528__340.jpg">
            <img src="https://cdn.pixabay.com/photo/2023/01/12/05/32/duck-7713310__340.jpg">
             <img src="https://cdn.pixabay.com/photo/2018/04/11/06/03/flamingo-3309628__340.jpg">
              <img src="https://cdn.pixabay.com/photo/2021/06/06/19/13/peafowl-6316165__340.jpg">
              
          </div>
  
          <div class="dream">
          <img src="https://cdn.pixabay.com/photo/2019/08/16/14/36/bird-4410411__340.jpg">
           <img src="https://cdn.pixabay.com/photo/2018/02/26/16/44/bird-3183441__340.jpg">
            <img src="https://cdn.pixabay.com/photo/2020/02/27/21/51/willow-tit-4885941__340.jpg">
             <img src="https://cdn.pixabay.com/photo/2021/09/08/20/45/bird-6607863__340.jpg">
              <img src="https://cdn.pixabay.com/photo/2022/02/14/06/54/bird-7012586__340.jpg">
              
              
              
        </div>
      </div>
  
      <div class="box">
        
        <div class="dream">
          <img src="https://cdn.pixabay.com/photo/2018/04/22/12/32/swan-3340932__340.jpg">
           <img src="https://cdn.pixabay.com/photo/2022/10/17/08/44/parrot-7527071__340.jpg">
            <img src="https://cdn.pixabay.com/photo/2012/03/04/00/14/animal-21829__340.jpg">
             <img src="https://cdn.pixabay.com/photo/2022/11/28/20/09/blue-tit-7623100__340.jpg">
              <img src="https://cdn.pixabay.com/photo/2020/12/15/23/39/reed-bunting-5835249__340.jpg">
             
        </div>
  
        <div class="dream">
          <img src="https://cdn.pixabay.com/photo/2015/12/18/20/04/birds-1099071__340.jpg">
           <img src="https://cdn.pixabay.com/photo/2021/11/13/21/28/bird-6792420__340.jpg">
            <img src="https://cdn.pixabay.com/photo/2021/08/06/05/02/birds-6525352__340.jpg">
             <img src="https://cdn.pixabay.com/photo/2019/11/21/06/13/peacock-4641792__340.jpg">
              <img src="https://cdn.pixabay.com/photo/2020/07/29/18/38/parrot-5448628__340.jpg">
             
        </div>
  
        <div class="dream">
          <img src="https://cdn.pixabay.com/photo/2022/08/31/22/58/little-egret-7424318__340.jpg">
           <img src="https://cdn.pixabay.com/photo/2020/03/05/08/43/bird-4903819__340.jpg">
            <img src="https://cdn.pixabay.com/photo/2021/12/31/11/51/penguin-6905568__340.jpg">
             <img src="https://cdn.pixabay.com/photo/2022/03/31/01/05/bird-7102006__340.jpg">
              <img src="https://cdn.pixabay.com/photo/2021/12/11/14/12/bird-6862832__340.jpg">
             
        </div>
              
              
      
      </div>
     
      <div class="btn">
        <a routerLink="/gallary2">More</a>
      </div>
  
  
  
  
  
    </div>
  
  
  
  </div>


