<div class="main" >
    <div class="container">
     
    <div class="row">
      <div class="content">
        <h1 style="text-align: center; margin-top: -80px;"><span class="h1 fw-bold mb-0"><B><BR>The<span style="color: rgb(180, 46, 91);">Bird</span>Pedia</B></span></h1>
          <div class="row">
            <div class="col">
              <p><br><br></p>
              <img  src="https://cdn.pixabay.com/photo/2018/02/06/19/53/parrot-3135551__340.jpg" alt="" height="200px" width="550px">
            </div>
            <div class="col">
       <h5><br><br>Birds belong to the class Aves of Phylum Chordata from the kingdom Animalia.
        <br><br></h5><p>Birds are a group of warm-blooded vertebrates constituting the class Aves , characterised by feathers, toothless beaked jaws, the laying of hard-shelled eggs, a high metabolic rate, a four-chambered heart, and a strong yet lightweight skeleton. 
        Birds live worldwide and range in size from the 5.5 cm (2.2 in) bee hummingbird to the 2.8 m (9 ft 2 in) common ostrich. There are about ten thousand living species, more than half of which are passerine, or "perching" birds. Birds have wings whose development varies according to species;
         the only known groups without wings are the extinct moa and elephant birds. Wings, which are modified forelimbs, gave birds the ability to fly, although further evolution has led to the loss of flight in some birds, including ratites, penguins, and diverse endemic island species. 
        The digestive and respiratory systems of birds are also uniquely adapted for flight. Some bird species of aquatic environments, particularly seabirds and some waterbirds, have further evolved for swimming.</p>
            </div>
          </div> 
          <div class="row">  
            <div class="col">
        
        <h5><br><br><br><br><br><br><br><br><b>The three classifications of birds are mentioned below:<br><br>
        1.Terrestrial Birds.<br><br>
        2.Omnivorous birds.<br><br>
        3.Long Legged birds.</b><br></h5>
      </div> 
      <div class="col">
        <p><br><br><br><br></p>
        <img src="https://cdn.pixabay.com/photo/2018/02/24/18/49/adler-3178893__340.jpg" alt="" height="100px" width="550px">
      </div>
      </div> 
        <h4 style="color: rgb(180, 46, 91)"><br><br><br><br><b>1.Terrestrial Birds</b><br><br></h4>
     <p>A terrestrial bird is a type of bird that stays primarily on the ground, not only foraging on the ground but also generally nesting and roosting on the ground or very low in shrubbery or brush. These birds will freeze, walk, or run when threatened instead of taking flight.

        While some terrestrial birds are naturally flightless, others are simply reluctant fliers that may not be able to fly long distances easily. Most terrestrial birds that do fly will stay low above the ground or close to cover when flying, and typically fly only in short, frantic bursts rather than going long distances. Terrestrial birds are also known as land birds or ground birds.
        <br>While some of these birds are fully flightless, others are easily capable of flight but prefer to stay on the ground.

        Flightless Birds That Aren't Terrestrial:-
        While most flightless birds are terrestrial, there are several types of flightless birds that aren't considered terrestrial. Penguins and some flightless duck and grebe species are more aquatic and they spend the majority of their lives in the water. They forage in the water, evade predators, migrate, and may even perform courtship displays in water, making them different than other ground-dwelling birds.
        <br><br><br></p> 
        <div class="row">
          <div class="col">
                <img src="https://cdn.pixabay.com/photo/2017/10/27/08/13/swan-2893562__340.jpg" alt="">
          </div>
          <div class="col">
             <img src="https://cdn.pixabay.com/photo/2017/10/16/18/52/bird-2858118__340.jpg" alt="">
          </div>
        </div>  

        <h4 style="color: rgb(180, 46, 91)"><br><br><b>2.Omnivorous birds.</b><br><br></h4>
        <p>
            Birds like chickens and crows are omnivores as they feed on berries, nectar, insects, small fishes, rodents, etc while some birds like snow goose, large waterfowl are herbivores as they eat both plants and animals.
            To be considered omnivorous, birds do not need to eat every single type of plant or animal food. However, the diet does need to contain significant amounts of both animal and plant-based foods.
            
            Classification of diets is usually only done when birds reach their adult stage, as both the chick and juvenile stages of their lives may eat significantly different diets. This is because younger birds depend on foods rich in nutrients and proteins, which helps with growth and development.
            
            <br><br><br>
            
        </p>
        <div class="row">
          <div class="col">
                <img src="https://cdn.pixabay.com/photo/2013/09/25/12/14/birds-186056__340.jpg" alt="">
          </div>
          <div class="col">
             <img src="https://cdn.pixabay.com/photo/2017/10/21/19/59/spring-bird-2875748__340.jpg" alt="">
          </div>
        </div>  
        <h4 style="color: rgb(180, 46, 91);"><br><br><b> 3.Long Legged birds.</b></h4>
        <p><br>There are many body types among birds, but none evokes more beauty or joy than that of the long-legged ones. Cranes especially have been revered as graceful hunters, and the long legs of all these birds serve as stilts for their primarily aquatic habitats.
            birds with long legs that are especially notable for not only their length, but the roles they play in fragile swamp ecosystems and their unique foraging techniques.
            <br><br><br></p>
           <div class="row">
            <div class="col">
                  <img src="https://cdn.pixabay.com/photo/2014/02/15/16/35/warbler-266692__340.jpg" alt="">
            </div>
            <div class="col">
               <img src="https://cdn.pixabay.com/photo/2022/02/06/00/02/bird-6995938__340.jpg" alt="">
            </div>
          </div>  


        
</div>
</div>

</div>



    <div class="row">
        <h1 style="color: rgb(180, 46, 91); text-align: center;"><b><br><br>Birds</b><span style="color: black;"><b>Classification<br><br></b></span></h1>
        <h4 style="text-align: center;"><b>Here we can see more information about birds</b></h4>
        <div class="col">
<div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="https://i.natgeofe.com/n/bfde08ed-2b2b-4420-babf-4661ba312cb9/T14_0476_068_2x3.jpg" alt="Terrestrial Birds">
          <figcaption>Terrestrial Birds</figcaption>
        </figure>
  
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="https://cdn.pixabay.com/photo/2019/03/03/08/34/cassowary-4031350__340.jpg" alt="Brohm Lake">
        </figure>
  
        <button>    <a  (click)="birdOne()" class="link-info">View</a></button>
  
      
      </div>
  
    </div>
  </div>
</div>
  
  <div class="col">
  <div class="flip-card-container" style="--hue: 170">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="https://cdn.britannica.com/90/100690-050-2BCF9763/Florida-scrub-jay.jpg" alt="Omnivorous Bird">
          <figcaption>Omnivorous Birds</figcaption>
        </figure>
  
        
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="https://i.guim.co.uk/img/media/c4c688fe3432553cf66388b01ab925a2446e308b/0_400_6000_3600/master/6000.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=262550bc002e79093a96fa486e24653c" alt="image-2">
        </figure>
  
        <button>    <a (click)="birdTwo()" class="link-info">View</a></button>
  
        
      </div>
  
    </div>
  </div>
</div>
  
  <div class="col">
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="https://i.etsystatic.com/21677388/r/il/eef0db/2251629301/il_fullxfull.2251629301_lgs8.jpg" alt="Brohm Lake">
          <figcaption>Long Legged Birds</figcaption>
        </figure>
  
        
      </div>
  
      <div class="card-back">
        
        <figure>
          <div class="img-bg"></div>
          <img src="https://cdn.pixabay.com/photo/2022/11/12/16/02/bird-7587309_960_720.jpg" alt="Brohm Lake">
        </figure>
  
        <button>    <a (click)="birdThree()" class="link-info">View</a></button>
  
       
        
      </div>
  
    </div>
  </div>
</div>
  
</div>
</div>
