<!-- <div>
    
<video autoplay muted loop id="video">
    <source src="assets/image/bgv2.mp4" type="video/mp4" width="100%">
    <
</video>


</div> -->

<div class="main">
    <div class="bg">
        <div class="row">
            <div class="col"><br><br>
    
                <h1 id="w" style="font-family: serif;"></h1><br><br><br><br>
                <h4 style="font-family: serif; margin-bottom: 10px;" ><i><B>"No bird soars too high if he soars with his own wings." <br><br>“A bird does not sing because it has an answer, it sings because it has a song.” <br><br>
                    “A heart without dreams is like a bird without feathers.” </B></i></h4>
            </div>
            <div class="col">
    
            </div>
            
        </div>
    
    </div>
    <div class="about1 mt-4" style="background-color: #F6EEEC;">
        <div class="row">
            <div class="col">
            <img src="https://storage.googleapis.com/pod_public/1300/152932.jpg" alt="" style="height: 100vh; width: 90vh;">
           
            
        </div>
            <div class="col">
        <h1 style="font-family: serif;" id="about"><br>About Us</h1>
        <p id="ab" style="font-size: larger; font-family: serif; text-align: left;">Birds are one of the most intriguing types of animals in the world. Other than their ability to fly, most birds have unique characteristics that make them interesting subjects of study. 
            Their appearances, breeding and nesting habits, and biological features set them apart from other animals, and they also come in a wide variety of colors and sizes. Birds are so captivating that many people devote a lot of time to bird-watching, so that they can observe and learn about the behaviors of different species of birds. 
           <br> Here <b>The<span style="color: rgb(180, 46, 91);">Bird</span>Pedia</b> Website that provide more information about birds.
           <br><br>
    
        </p>
    </div>
   
    </div>
      <!-- <div class="row">
           <h1>our highlights</h1>
           
   

      </div> -->


</div>
    
    </div>



